{:deps
 {org.clojure/clojure             {:mvn/version "1.11.1"}
  com.stuartsierra/component      {:mvn/version "0.4.0"}
  com.stuartsierra/component.repl {:mvn/version "0.2.0"}
  io.pedestal/pedestal.service    {:mvn/version "0.5.10"}
  io.pedestal/pedestal.route      {:mvn/version "0.5.10"}
  io.pedestal/pedestal.jetty      {:mvn/version "0.5.10"}
  org.slf4j/slf4j-simple          {:mvn/version "2.0.7"}}
 :paths ["src"]
 :aliases {:test     {:extra-paths ["test"]
                      :extra-deps  {lambdaisland/kaocha {:mvn/version "0.0-529"}}
                      :main-opts   ["-m" "kaocha.runner"]}
           :outdated {:extra-deps {olical/depot {:mvn/version "2.3.0"}}
                      :main-opts  ["-m" "depot.outdated.main" "-a" "outdated"]}
           :uberjar  {:extra-deps {uberdeps {:mvn/version "0.1.4"}}
                      :main-opts  ["-m" "uberdeps.uberjar" "--target" "target/template.jar"]}}}
